* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout component */
.main {
  width: 100%;
  padding: 4rem 0;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

/* main */
.main {
  background-color: rgb(250, 250, 250);
}

/* product */
.products {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  gap: 10px;
  row-gap: 25px;
}
